<link rel="stylesheet" href="/css/sign.css">
<div class="mainContainer ">
    <div class="companyLogo">
        <h1>Company's Logo</h1>
    </div>

    <div class="formInput">
        <h1> Welcome </h1>
        <form method="POST" action="/users/forgetPasswordLink" >
            <input type="email" name="email" placeholder="Enter email" required><br>
            <input type="password" name="password" placeholder="Enter password" required><br>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required><br>
            
            <div class= 'buttons'>
                <div style="margin-left: 60px;" class = 'submitButtons'><button type="submit">Reset</button></div>
                
            </div>

            <div class="extraStuff">
                <small> Don't have account ?</small>
                <a href="/users/sign-up"> Register User</a>
            </div>
    </div>
</div> 