<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <%if(locals.user){%>
        <div class="outerDiv">    
            <% if(!locals.user.isAdmin){ %>
                <div class="adminPass">
                    <form action="/users/makeAdmin" method="post">
                        <input name="admin_password" type="password" placeholder="Password">
                        <button type="submit" class="submitHomeButton"> Enter as Admin</button>
                    </form>
                </div>
            <%}%>    
        

                <!-- the text part -->
        <div class="home-box">
            
    
        </div>

        <div class="home-box">
            <div class="employeereview">Kindly, review your co-employees<img src="../images/rating.webp"><br>
            <i><h6>This task is assigned by the Admin</h6></i>
            </div>

            <div class="reviewBox">
                <% for(let i = 0 ;i<recipent.length ; i++ ) {%>
                    <%if(recipent[i] != null) {%>
                        <div class="outerBox">
                            <h6>
                                To : <%= recipent[i].name%>
                            </h6>
                            <div class="innerBox">
                                <form action="/reviews/newReview/<%= recipent[i]._id %>" method="get">
                                    <textarea class="formClass" placeholder="Review, here !" name="newReview" rows="5"
                                    id="floatingTextarea2">
        
                                    </textarea>
                                    <br>
                                    <button type="submit" class="submitHomeButton"> Submit </button>
                                </form>
                            </div>
                        </div>
                    <%}%>
                <%}%>   
            </div>
        </div>

        <div class="home-box">
           <div class="myreview">My Reviews <img src="../images/rating.webp"></div>
            <div class="reviewBox">

            
                <div class="card-out">
                    <% for(let review of reviews ) {%>
                        <div class="in-card">
                            <h5 class="cls-txt">Message : <%= review.content %> </h5>
                            <p class="cls-txt">From : <%= review.name %> </p>
                            
                        </div>
                    <%}%>    
                </div>
            

        </div>

    </div>
    <%}%>

</body>
</html>